.elementor-2552 .elementor-element.elementor-element-8c9bcd8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 140px;
    --padding-bottom: 0px;
    --padding-left: 70px;
    --padding-right: 70px;
}

.elementor-2552 .elementor-element.elementor-element-8c9bcd8 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-8c9bcd8 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-8c9bcd8 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-5a85a3a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: 50px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-5a85a3a .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-5a85a3a .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-5a85a3a .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-ec68eef {
    --display: flex;
    --padding-top: 8px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-ec68eef .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-ec68eef .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-ec68eef .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-4b0ad5f .elementor-heading-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.08em;
}

.elementor-2552 .elementor-element.elementor-element-751b2ba {
    --display: flex;
}

.elementor-2552 .elementor-element.elementor-element-751b2ba .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-751b2ba .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-751b2ba .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e>.elementor-widget-container {
    margin: 0px 0px 45px 0px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion.trx-addons-image-accordion-over {
    height: 38vw;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-below .trx-addons-image-accordion-item-inner {
    height: 38vw;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-vertical .trx-addons-image-accordion-item:not(:last-child) {
    margin-right: 11px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-horizontal .trx-addons-image-accordion-item:not(:last-child) {
    margin-bottom: 11px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-below-content {
    margin-top: 23px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-overlay {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-content-wrap {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-content {
    text-align: left;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-title {
    color: var(--e-global-color-theme_color_title);
    margin-bottom: 5px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-description {
    color: var(--e-global-color-theme_color_text);
    font-size: 14px;
    line-height: 20px;
}

.elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-button {
    margin-top: 15px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion.trx-addons-image-accordion-over {
    height: 38vw;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-below .trx-addons-image-accordion-item-inner {
    height: 38vw;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-vertical .trx-addons-image-accordion-item:not(:last-child) {
    margin-right: 11px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-horizontal .trx-addons-image-accordion-item:not(:last-child) {
    margin-bottom: 11px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-below-content {
    margin-top: 23px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-overlay {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-content-wrap {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-content {
    text-align: left;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-title {
    color: var(--e-global-color-theme_color_title);
    margin-bottom: 5px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-description {
    color: var(--e-global-color-theme_color_text);
    font-size: 14px;
    line-height: 20px;
}

.elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-button {
    margin-top: 15px;
}

.elementor-2552 .elementor-element.elementor-element-dcb9531 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 150px;
    --padding-bottom: 150px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-dcb9531 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-dcb9531 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-dcb9531 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-40e6e11>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-2552 .elementor-element.elementor-element-40e6e11 .elementor-heading-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.08em;
}

.elementor-2552 .elementor-element.elementor-element-d65c5e9 {
    width: var(--container-widget-width, 520px);
    max-width: 520px;
    --container-widget-width: 520px;
    --container-widget-flex-grow: 0;
}

.elementor-2552 .elementor-element.elementor-element-d65c5e9>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-2552 .elementor-element.elementor-element-06c1ab3 {
    --display: grid;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
}

.elementor-2552 .elementor-element.elementor-element-06c1ab3 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-06c1ab3 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-06c1ab3 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-bac3d7c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-2552 .elementor-element.elementor-element-bac3d7c .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-bac3d7c .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-bac3d7c .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-1df0534>.elementor-widget-container {
    margin: 0px 0px 42px 0px;
}

.elementor-2552 .elementor-element.elementor-element-1df0534 .elementor-icon-box-wrapper {
    align-items: start;
}

.elementor-2552 .elementor-element.elementor-element-1df0534 {
    --icon-box-icon-margin: 0px;
}

.elementor-2552 .elementor-element.elementor-element-1df0534.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-theme_color_bg_color_2);
    fill: var(--e-global-color-theme_color_title);
    color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-1df0534.elementor-view-framed .elementor-icon,
.elementor-2552 .elementor-element.elementor-element-1df0534.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-theme_color_bg_color_2);
    color: var(--e-global-color-theme_color_bg_color_2);
    border-color: var(--e-global-color-theme_color_bg_color_2);
}

.elementor-2552 .elementor-element.elementor-element-1df0534.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-1df0534 .elementor-icon {
    font-size: 40px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-2552 .elementor-element.elementor-element-f611b0a {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-top-width: 1px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: var(--e-global-color-theme_color_bd_color);
    --border-color: var(--e-global-color-theme_color_bd_color);
    --padding-top: 35px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-f611b0a .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-f611b0a .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-f611b0a .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-7efb7d2>.elementor-widget-container {
    margin: 0px 0px 12px 0px;
}

.elementor-2552 .elementor-element.elementor-element-a53ac4f {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-2552 .elementor-element.elementor-element-a53ac4f .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-a53ac4f .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-a53ac4f .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-40465a8>.elementor-widget-container {
    margin: 0px 0px 42px 0px;
}

.elementor-2552 .elementor-element.elementor-element-40465a8 .elementor-icon-box-wrapper {
    align-items: start;
}

.elementor-2552 .elementor-element.elementor-element-40465a8 {
    --icon-box-icon-margin: 0px;
}

.elementor-2552 .elementor-element.elementor-element-40465a8.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-theme_color_bg_color_2);
    fill: var(--e-global-color-theme_color_title);
    color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-40465a8.elementor-view-framed .elementor-icon,
.elementor-2552 .elementor-element.elementor-element-40465a8.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-theme_color_bg_color_2);
    color: var(--e-global-color-theme_color_bg_color_2);
    border-color: var(--e-global-color-theme_color_bg_color_2);
}

.elementor-2552 .elementor-element.elementor-element-40465a8.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-40465a8 .elementor-icon {
    font-size: 40px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-2552 .elementor-element.elementor-element-632b190 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-top-width: 1px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: var(--e-global-color-theme_color_bd_color);
    --border-color: var(--e-global-color-theme_color_bd_color);
    --padding-top: 35px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-632b190 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-632b190 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-632b190 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-0285c04>.elementor-widget-container {
    margin: 0px 0px 12px 0px;
}

.elementor-2552 .elementor-element.elementor-element-85fe8bc {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-2552 .elementor-element.elementor-element-85fe8bc .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-85fe8bc .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-85fe8bc .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-cf69325>.elementor-widget-container {
    margin: 0px 0px 42px 0px;
}

.elementor-2552 .elementor-element.elementor-element-cf69325 .elementor-icon-box-wrapper {
    align-items: start;
}

.elementor-2552 .elementor-element.elementor-element-cf69325 {
    --icon-box-icon-margin: 0px;
}

.elementor-2552 .elementor-element.elementor-element-cf69325.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-theme_color_bg_color_2);
    fill: var(--e-global-color-theme_color_title);
    color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-cf69325.elementor-view-framed .elementor-icon,
.elementor-2552 .elementor-element.elementor-element-cf69325.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-theme_color_bg_color_2);
    color: var(--e-global-color-theme_color_bg_color_2);
    border-color: var(--e-global-color-theme_color_bg_color_2);
}

.elementor-2552 .elementor-element.elementor-element-cf69325.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-theme_color_title);
}

.elementor-2552 .elementor-element.elementor-element-cf69325 .elementor-icon {
    font-size: 40px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-2552 .elementor-element.elementor-element-ac6673c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-top-width: 1px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: var(--e-global-color-theme_color_bd_color);
    --border-color: var(--e-global-color-theme_color_bd_color);
    --padding-top: 35px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-ac6673c .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-ac6673c .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-ac6673c .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-fc0a873>.elementor-widget-container {
    margin: 0px 0px 12px 0px;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 {
    --display: flex;
    --min-height: 140px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9:not(.elementor-motion-effects-element-type-background),
.elementor-2552 .elementor-element.elementor-element-8b9ffc9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1CC53;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char {
    color: var(--e-global-color-theme_color_alt_title);
    font-size: 47px;
    font-weight: 500;
    line-height: 1em;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_inner {
    margin-top: 47px;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 0px;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_overlay {
    background-image: url(../../2025/07/asterisk-icon.svg);
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_delimiter {
    color: var(--e-global-color-theme_color_alt_title);
    margin-left: 38px;
    margin-right: 38px;
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_delimiter svg {
    fill: var(--e-global-color-theme_color_alt_title);
}

.elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char.trx_addons_bg_text_delimiter {
    font-size: 21px;
}

.elementor-2552 .elementor-element.elementor-element-68eae87 {
    --display: flex;
    --min-height: 832px;
    --justify-content: center;
    --align-items: flex-end;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2552 .elementor-element.elementor-element-68eae87:not(.elementor-motion-effects-element-type-background),
.elementor-2552 .elementor-element.elementor-element-68eae87>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../home-gallery-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2552 .elementor-element.elementor-element-68eae87 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-68eae87 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-68eae87 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-0949a83 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 45px;
    --padding-bottom: 55px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-2552 .elementor-element.elementor-element-0949a83:not(.elementor-motion-effects-element-type-background),
.elementor-2552 .elementor-element.elementor-element-0949a83>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-theme_color_bg_color);
}

.elementor-2552 .elementor-element.elementor-element-0949a83 .trx_addons_bg_text {
    z-index: 0;
}

.elementor-2552 .elementor-element.elementor-element-0949a83 .trx_addons_bg_text.trx_addons_marquee_wrap:not(.trx_addons_marquee_reverse) .trx_addons_marquee_element {
    padding-right: 50px;
}

.elementor-2552 .elementor-element.elementor-element-0949a83 .trx_addons_bg_text.trx_addons_marquee_wrap.trx_addons_marquee_reverse .trx_addons_marquee_element {
    padding-left: 50px;
}

.elementor-2552 .elementor-element.elementor-element-274ac48 {
    width: var(--container-widget-width, 280px);
    max-width: 280px;
    --container-widget-width: 280px;
    --container-widget-flex-grow: 0;
}

.elementor-2552 .elementor-element.elementor-element-274ac48>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
}

@media(max-width:1279px) {
    .elementor-2552 .elementor-element.elementor-element-8c9bcd8 {
        --padding-top: 90px;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-2552 .elementor-element.elementor-element-5a85a3a {
        --margin-top: 0px;
        --margin-bottom: 38px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-vertical.trx-addons-image-accordion-stack-on-tablet .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-below-content {
        margin-top: 17px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-title {
        margin-bottom: 4px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-vertical.trx-addons-image-accordion-stack-on-tablet .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-below-content {
        margin-top: 17px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-title {
        margin-bottom: 4px;
    }

    .elementor-2552 .elementor-element.elementor-element-dcb9531 {
        --padding-top: 95px;
        --padding-bottom: 95px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40e6e11>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-d65c5e9>.elementor-widget-container {
        margin: 0px 0px 38px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-d65c5e9 {
        --container-widget-width: 400px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 400px);
        max-width: 400px;
    }

    .elementor-2552 .elementor-element.elementor-element-06c1ab3 {
        --grid-auto-flow: row;
    }

    .elementor-2552 .elementor-element.elementor-element-1df0534>.elementor-widget-container {
        margin: 0px 0px 33px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-1df0534 .elementor-icon {
        font-size: 35px;
        padding: 16px;
    }

    .elementor-2552 .elementor-element.elementor-element-f611b0a {
        --padding-top: 25px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-7efb7d2>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40465a8>.elementor-widget-container {
        margin: 0px 0px 33px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40465a8 .elementor-icon {
        font-size: 35px;
        padding: 16px;
    }

    .elementor-2552 .elementor-element.elementor-element-632b190 {
        --padding-top: 25px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-0285c04>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-cf69325>.elementor-widget-container {
        margin: 0px 0px 33px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-cf69325 .elementor-icon {
        font-size: 35px;
        padding: 16px;
    }

    .elementor-2552 .elementor-element.elementor-element-ac6673c {
        --padding-top: 25px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-fc0a873>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 {
        --min-height: 110px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char {
        font-size: 40px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_inner {
        margin-top: 34px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char.trx_addons_bg_text_delimiter {
        font-size: 20px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_delimiter {
        margin-left: 35px;
        margin-right: 35px;
    }

    .elementor-2552 .elementor-element.elementor-element-68eae87 {
        --min-height: 760px;
    }

    .elementor-2552 .elementor-element.elementor-element-0949a83 {
        --padding-top: 35px;
        --padding-bottom: 45px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-274ac48>.elementor-widget-container {
        margin: 0px 0px 22px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-274ac48 {
        --container-widget-width: 240px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 240px);
        max-width: 240px;
    }
}

@media(max-width:767px) {
    .elementor-2552 .elementor-element.elementor-element-8c9bcd8 {
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-2552 .elementor-element.elementor-element-5a85a3a {
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
        --margin-top: 0px;
        --margin-bottom: 28px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-ec68eef {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-4b0ad5f .elementor-heading-title {
        font-size: 13px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion.trx-addons-image-accordion-over {
        height: 300px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-below .trx-addons-image-accordion-item-inner {
        height: 300px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-vertical.trx-addons-image-accordion-stack-on-mobile .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-vertical .trx-addons-image-accordion-item:not(:last-child) {
        margin-right: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e.trx-addons-image-accordion-orientation-horizontal .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion-below-content {
        margin-top: 15px;
    }

    .elementor-2552 .elementor-element.elementor-element-12a2d1e .trx-addons-image-accordion .trx-addons-image-accordion-title {
        margin-bottom: 3px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion.trx-addons-image-accordion-over {
        height: 300px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-below .trx-addons-image-accordion-item-inner {
        height: 300px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-vertical.trx-addons-image-accordion-stack-on-mobile .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-vertical .trx-addons-image-accordion-item:not(:last-child) {
        margin-right: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b.trx-addons-image-accordion-orientation-horizontal .trx-addons-image-accordion-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion-below-content {
        margin-top: 15px;
    }

    .elementor-2552 .elementor-element.elementor-element-56b6c2b .trx-addons-image-accordion .trx-addons-image-accordion-title {
        margin-bottom: 3px;
    }

    .elementor-2552 .elementor-element.elementor-element-dcb9531 {
        --padding-top: 65px;
        --padding-bottom: 65px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40e6e11>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40e6e11 .elementor-heading-title {
        font-size: 13px;
    }

    .elementor-2552 .elementor-element.elementor-element-d65c5e9>.elementor-widget-container {
        margin: 0px 0px 28px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-d65c5e9 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-2552 .elementor-element.elementor-element-06c1ab3 {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --gap: 28px 28px;
        --row-gap: 28px;
        --column-gap: 28px;
        --grid-auto-flow: row;
    }

    .elementor-2552 .elementor-element.elementor-element-1df0534>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-1df0534 .elementor-icon-box-wrapper {
        align-items: start;
    }

    .elementor-2552 .elementor-element.elementor-element-f611b0a {
        --padding-top: 15px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-7efb7d2>.elementor-widget-container {
        margin: 0px 0px 9px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40465a8>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-40465a8 .elementor-icon-box-wrapper {
        align-items: start;
    }

    .elementor-2552 .elementor-element.elementor-element-632b190 {
        --padding-top: 15px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-0285c04>.elementor-widget-container {
        margin: 0px 0px 9px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-cf69325>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-cf69325 .elementor-icon-box-wrapper {
        align-items: start;
    }

    .elementor-2552 .elementor-element.elementor-element-ac6673c {
        --padding-top: 15px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-fc0a873>.elementor-widget-container {
        margin: 0px 0px 9px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 {
        --min-height: 80px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char {
        font-size: 32px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_inner {
        margin-top: 23px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_char.trx_addons_bg_text_delimiter {
        font-size: 17px;
    }

    .elementor-2552 .elementor-element.elementor-element-8b9ffc9 .trx_addons_bg_text_delimiter {
        margin-left: 30px;
        margin-right: 30px;
    }

    .elementor-2552 .elementor-element.elementor-element-68eae87 {
        --min-height: 680px;
    }

    .elementor-2552 .elementor-element.elementor-element-0949a83 {
        --padding-top: 30px;
        --padding-bottom: 35px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-2552 .elementor-element.elementor-element-274ac48>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }

    .elementor-2552 .elementor-element.elementor-element-274ac48 {
        --container-widget-width: 220px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 220px);
        max-width: 220px;
    }
}

@media(min-width:768px) {
    .elementor-2552 .elementor-element.elementor-element-ec68eef {
        --width: 50%;
    }

    .elementor-2552 .elementor-element.elementor-element-751b2ba {
        --width: 50%;
    }

    .elementor-2552 .elementor-element.elementor-element-0949a83 {
        --width: 520px;
    }
}

@media(max-width:1279px) and (min-width:768px) {
    .elementor-2552 .elementor-element.elementor-element-0949a83 {
        --width: 440px;
    }
}